/* Add this to your global stylesheet or component stylesheet */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #1861aa !important;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.custom-scrollbar::-webkit-scrollbar,
.notifications-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track,
.notifications-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb,
.notifications-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover,
.notifications-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.App {
  background-image: url('../src/assets/puzzle_upside_down_left.png'),
    url('../src/assets/puzzle_tilt_right.png'),
    url('../src/assets/puzzle_tilt_left.png'),
    url('../src/assets/puzzle_upside_down_right.png');

  background-position:
    left 10%,
    right 25%,
    left 90%,
    right 75%;

  /* Set the size for each image to cover 25% vertically */
  background-size:
    auto 20%,
    auto 20%,
    auto 20%,
    auto 20%;

  background-repeat: no-repeat;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Add this to your global stylesheet or component stylesheet */
.button {
  /* Your existing button styles */

  /* Transition for a smoother effect */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  /* Adjust the styles for the hover state */
  background-color: /* Your hover color */;
  transform: scale(1.05); /* Increase size on hover */
}

.button:active {
  /* Adjust the styles for the active state (when clicked) */
  transform: scale(0.95); /* Reduce size on click */
}

.button.disabled {
  /* Styles for the disabled state */
  opacity: 0.5; /* Adjust opacity for the disabled state */
  cursor: not-allowed; /* Change cursor for the disabled state */
}

/* Add this to your global stylesheet or component stylesheet */
.title-hover {
  /* Transition for a smoother effect */
  transition: color 0.3s ease, transform 0.5s ease;

  /* Animation for movement */
  animation: moveLetters 1.5s infinite alternate ease-in-out;
}

.title-hover:hover {
  /* Adjust the styles for the hover state */
  color: #FFAED5; /* Light pink color on hover */
  transform: scale(1.05); /* Increase size on hover */
}

/* Define the animation keyframes */
@keyframes moveLetters {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

/* Add this to your global stylesheet or component stylesheet */
.description-hover {
  /* Transition for a smoother effect */
  transition: color 0.3s ease, transform 0.5s ease;

  /* Animation for movement */
  animation: moveLetters 1.5s infinite alternate ease-in-out;
}

.description-hover:hover {
  /* Adjust the styles for the hover state */
  color: /* Your hover color */; /* Choose the desired hover color */
  transform: translateY(-2px); /* Increase size on hover */
}
